@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 4rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: rgb(var(--foreground-rgb));
}

.main-page-gradient {
  background: #3ffbd3;
  background: radial-gradient(circle, rgba(63,251,211,1) 0%, #fe68a7 100%);
}

.title-gradient {
  background-image: linear-gradient(
      to right, 
      #18e9c2, 
      #f83c86, 
      #e91f64, 
      #ca0c47
  );
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
