@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 4rem;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: rgb(var(--foreground-rgb));
}

.scroll-width {
  @media screen and (max-width: 640px) {
    width: calc(100% + 1rem);
  }
}

.main-page-gradient {
  background: rgb(63,251,211);
  background: radial-gradient(circle, rgba(63,251,211,1) 0%, rgba(238,187,198,1) 100%);
}

.title-gradient {
  background-image: linear-gradient(
      to right, 
      #f83c86, 
      #e91f64, 
      #ca0c47
  );
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
